/* Style the header and nav elements */

/* Select Instagram header logo from sprite */
.navbar-brand {
  padding-top: 10px;
}

.navbar-brand img {
  object-fit: none;
  object-position: 100% -2px;
  height: 35px;
  width: 178px;
}

/* Style the app download button */
.navbar .navbar-collapse .navbar-right .app-download a {
  color: #fff;
  border-radius: 5px;
  background-color: rgb(42, 138, 241);
  padding: 10px 15px;
  margin-right: 20px;
}

/* Styles the */
.navbar .navbar-collapse .navbar-right .top-nav-btns a {
  color: rgb(42, 138, 241);
  font-weight: bold;
  padding: 10px 5px;
}

.navbar .navbar-collapse .navbar-left {
  padding-left: 40px;
}

.divider {
  height: 30px;
  margin: 10px 0;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #fff;
}

.navbar-static-top {
  background-color: #fff;
  padding: 15px;
}

/* End header style elements */
